.container {
  margin-bottom: 100px;
}
.carousel-item {
  background-color: #fceae8;
  padding: 20px 40px;
  border-radius: 10px;
}
.price {
  color: #ff136f;
}
button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.cat_1,
.cat_2,
.cat_3 {
  padding: 10px 30px;
  border-radius: 10px;
}
.categories img {
  width: 100px;
}
.categories h1 {
  color: white;
}
.cat_1 {
  background-color: orange;
}
.cat_2 {
  background-color: orchid;
}
.cat_3 {
  background-color: blue;
}
.card {
  border: none;
  box-shadow: 5px 5px 10px lightgray;
  padding: 20px;
}
.card-body {
  padding: 0;
}
